* Estilos Gerais */
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(172, 17, 17);
}

section {
  margin-bottom: 40px;
  
}

h2 {
  margin-top: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(45, 233, 16);
  color: rgb(252, 8, 228);
  text-align: center;
}


.container-flex{
    display: flex;
    background-color: rgb(17, 141, 148);
    gap: 10px
    
}
.item-flex{
    background-color: rgb(10, 196, 153);
    padding: 20px;
    border: solid rgb(212, 10, 10);
    
}


.direcao-linha{
flex-direction:row;

}
.direcao-coluna{
    flex-direction:column
}

/* 3-Flex wrap */
.wrap{
    flex-wrap:wrap;
    
}
.nowrap{
    flex-wrap: nowrap;
    
}

/* Justify-content- horizontal */
.justificar-inicio{
    justify-content: start;
    
}
.justificar-fim{
    justify-content: end;
    
}
.justificar-centro{
    justify-content: center;
    
}
.justificar-space-between{
    justify-content: space-between;
   
}
.justificar-space-around{
    justify-content: space-around;
   
}
.justificar-space-evenly{
    justify-content: space-evenly;
    
}

/* Alinhamento vertical */
.alinhar-items .container-flex{
    height: 300px;
    
}
.alinhar-stretch{
    align-items: stretch;
    
}

 .alinhar-inicio{
    align-items: start;
   
 }
 .alinhar-fim{
    align-items: end;
    
 }
 .alinhar-centro{
    align-items: center;
   
 }
.alinhar-baseline{
    align-items: baseline;
    
}
.alinhar-conteudo{
    align-content: center;
    height: 600px;  
}
.alinhar-conteudo .caixa{
    flex: 0 0 30%;
   
}
.ordem1{
    order: 1;
}
.ordem2{
    order: 2;
}
.ordem3{
    order: 3;
}


/* Flex grow */
.exemplo-grow .item-flex{
    flex-basis: 100px;
}
.crescer1{
    flex-grow:2;
    
}
.crescer2{
    flex-grow: 2;
}

/* Posicionamento especificoa para cada item */
.alinhar-items-individuais .container-flex{
    height: 300px;
}

 .self-inicio{
    align-self: flex-start;
}
.self-centro{
    align-self: center;
}
.self-fim{
    align-self:flex-end;
}
.menu-nav a{
    text-decoration: none;
    padding: 8px 15px;
    transition:0.3s;
    
}
.menu-nav{
    border: solid black;
    display: flex;
    justify-content: center;
    font-family: fantasy;
    gap: 40px;
}
.menu-nav a:hover{
    border-bottom: 2px solid rgb(220, 220, 5);
    color:rgb(97, 192, 50)
  
}

.responsivo{
    flex-wrap: wrap;
}