*{
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}
/* Apliica a todos os elementos */

.destaque {
    color: blue;
    font-weight: bold;
}
/* .classe= reutilizavel em varios elementos0 */

#titulo-principal {
    color: rgb(255, 85, 0);
    text-align: center;
}
/* Único,para um elemento especifico */

p{
    font-size: 10px;
    line-height: 1.5;
}
/* Altera todos os elementos daquele tag  */

h1,h2,h3{
    font-family: Arial, sans-serif;
    color:rgb(255, 85, 0);
}
/* agrupamento de seletores */

h4{
    line-height: 1.5;
    letter-spacing: 2px;
    word-spacing: 5px;
}

img{
    width: 300px;
    border: 3px solid rgb(255, 111, 0);
    display: block;
    margin: auto;
}

ul{
    list-style-type: circle;
}