ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 3, 171);
    overflow: hidden;
}
li {
    float: left;
}
a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}
 a:link {
            color: blue;
            text-decoration: none;
        }
        /*link ja visitado*/
        a:visited{
            color: rgb(0, 247, 255);
        }
        /*Quando o mouse passa por cima*/
            a:hover{
            color: rgb(4, 0, 255);
            text-decoration: underline;
            font-size: px;
        }
        /*wenquanto o link é clicado*/
        a:active{
            color: orange;
        }